.wrap-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100px;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 40px;
	font-weight: bold;
	color: #4d5a53;
}


.header {
	border-bottom: 1px solid #cef7e2;
	margin-bottom: 20px;
}

ul.nav a {
	background-color: #cef7e2;
	margin-left: 10px;
	color: #4d5a53;
	border-top-right-radius: 8px;
}

.user-options {
	color: #4d5a53;
}

.container-fluid {
	padding-left: 0;
}

.row {
	margin-bottom: 20px; /* n esquecer */
}

.page-title {
	display: flex;
	font-size: 26px;
	color: #4d5a53;
	margin-bottom: 10px;
}

.wrap-listing {
	display: flex;
	border: 1px solid #cef7e2;
	border-radius: 10px;
	margin-left: 1px; 
	margin-bottom: 20px; 
	padding:20px; 
	color: #4d5a53;;
	border-radius: 10px;

}

.wrap-item {
	display: flex;
	flex-direction: column;
	position: relative;
}

.listing-name{
	display: flex;
	font-size: 20px;
	color: #4d5a53;
	font-weight: 500;
	margin-bottom: 10px;
}

.btn-primary {
	margin-top: 10px;
	color: #4d5a53;
	border-color: #cef7e2;
	background-color: #cef7e2;
}

.btn-primary:hover {
	margin-top: 10px;
	color: #4d5a53;
	border-color: #cef7e2;
	background-color: #cef7e2
}

.current-price {
	position: relative;
	font-size: 15px;
	color: #4d5a53;
	font-weight: bold;
	border: 1px solid #cef7e2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
	background-color: #cef7e2;
}

.wrap-listing-corner {
	position: absolute;
	display: flex;
	right: -20px;
	top: -31px;
	padding: 10px;
	font-size: 15px;
}

.wrap-wl-action {
	min-width: 55px;
	text-align: center;
}

.wl-filters {
	display: flex;
	align-items: center;
}

.wl-filters .btn-primary {
	margin-top: 0px;
}

.wrap-wl-filters {
	margin-bottom: 10px;
}

.fa-bookmark {
	color: #4d5a53;
	font-size: 20px;
	height: 100%;
}

.bidding-form {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	font-size: 20px;
	color: #4d5a53;
	font-weight: bold;
}

.input-group-text {
	color: #4d5a53;
	background-color:#cef7e2;
	border: 1px solid #cef7e2;
}

.btn-outline-primary {
	color: #4d5a53;
	border-color: #cef7e2;
	background-color: #cef7e2;
}

.btn-outline-primary:hover {
	background-color: #4d5a53;
	border-color: #4d5a53;
}

.create-listing {
	font-size: 20px;
	color: #4d5a53;
}

.wrap-categories {
	display: flex;
	justify-content: space-between;
	color: #4d5a53;
}

.form-control {
	border: 1px solid #cef7e2;
	color: #4d5a53;
	margin-bottom: 10px;
}

.form-control:focus {
	color: #4d5a53;
	border-color:#cef7e2;
	box-shadow: 0 0 0 0.2rem #cef7e2;
}

.info {
	display: flex;
	font-size: 20px;
	font-weight: bold;
	color: #4d5a53;
	margin-bottom: 10px;
}
/* voltar aqui */
.badge {
	background-color: #91f3c0!important;
	color: #4d5a53;
	margin-bottom: 10px;
}

.wrap-filters {
	display: flex;
	flex-direction: column;
	font-size: 17px;
	margin-bottom: 10px;
}

.checkbox-filter {
	display: flex;
	flex-direction: column;
	font-size: 17px;
}
/* brb */
.filter-listing {
	font-size: 20px;
	color: #4d5a53;
}


.wrap-comments {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.wrap-comment-title {
	color: #4d5a53;
	font-weight: bold;
	font-size: 15px;
}

.wrap-comment-subtitle {
	color: #a0a0a0;
	font-size: 11px;
	margin-bottom: 13px;
}

#comment {
	font-size: 13px;
}