.container-fluid {
  padding-left: 0;
}

header {
  background-color: #f1f6fa;
  box-shadow: 1px 1px 2px #CCC;
  margin-bottom: 20px;
}
header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 40px;
  font-weight: bold;
  color: #4d5a53;
}
header .wrap-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100px;
  justify-content: space-between;
}
header .wrap-nav .user-options {
  color: #4d5a53;
  margin-top: 10px;
}
header .wrap-nav .user-options a {
  color: #4d5a53;
}
header ul.nav a {
  background-color: #f0ede8;
  margin-left: 10px;
  color: #4d5a53;
  border-top-right-radius: 8px;
}

.page-title {
  display: flex;
  font-size: 26px;
  color: #4d5a53;
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: 10px;
  color: #4d5a53;
  border-color: #cef7e2;
  background-color: #cef7e2;
}
.btn-primary:hover {
  margin-top: 10px;
  color: #4d5a53;
  border-color: #cef7e2;
  background-color: #cef7e2;
}
.btn-primary:active {
  color: #cef7e2;
  background-color: #f0ede8;
  border-color: #f0ede8;
}
.btn-primary:focus {
  color: #cef7e2;
  background-color: #f0ede8;
  border-color: #f0ede8;
}

.btn-outline-primary {
  color: #4d5a53;
  border-color: #cef7e2;
  background-color: #cef7e2;
}
.btn-outline-primary:hover {
  background-color: #4d5a53;
  border-color: #4d5a53;
}

.fa-bookmark {
  color: #4d5a53;
  font-size: 20px;
  height: 100%;
}

.bidding-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 20px;
  color: #4d5a53;
  font-weight: bold;
}
.bidding-form .btn-primary {
  margin-top: 0px;
}
.bidding-form .btn-primary:hover {
  margin-top: 0px;
}
.bidding-form .input-group-text {
  color: #2b5865;
  background-color: #f0ede8;
  border: 1px solid #f0ede8;
}

.form-control {
  border: 1px solid #f0ede8;
  color: #4d5a53;
  margin-bottom: 10px;
}
.form-control:focus {
  color: #4d5a53;
  border-color: #f0ede8;
  box-shadow: 0 0 0 0.2rem #f1f6fa;
}

.badge {
  background-color: #8fbdc2 !important;
  color: #f0ede8;
  margin-bottom: 10px;
}

.row {
  margin-bottom: 20px;
}

.wrap-listing {
  display: flex;
  border: 1px solid #f0ede8;
  border-radius: 10px;
  margin-left: 1px;
  margin-bottom: 20px;
  padding: 20px;
  color: #4d5a53;
  border-radius: 10px;
}
.wrap-listing .wrap-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrap-listing .wrap-item .listing-name {
  display: flex;
  font-size: 20px;
  color: #2b5865;
  font-weight: 500;
  margin-bottom: 10px;
}
.wrap-listing .wrap-item .wrap-listing-corner {
  position: absolute;
  display: flex;
  right: -20px;
  top: -31px;
  padding: 10px;
  font-size: 15px;
}
.wrap-listing .wrap-item .wrap-listing-corner .wrap-wl-action {
  min-width: 55px;
  text-align: center;
}

.current-price {
  position: relative;
  color: #2b5865;
  font-weight: bold;
  border: 1px solid #f0ede8;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  background-color: #f0ede8;
}

.wrap-filters {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  margin-bottom: 10px;
}
.wrap-filters .checkbox-filter {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  margin-bottom: 15px;
}
.wrap-filters .checkbox-filter span {
  margin-bottom: 10px;
  color: #2b5865;
}

.wrap-listing-page {
  display: flex;
  margin-left: 1px;
  margin-bottom: 20px;
  padding: 20px;
  color: #2b5865;
}
.wrap-listing-page .wrap-listing-infos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.wrap-listing-page .wrap-listing-infos span {
  font-size: 15px;
  font-weight: bold;
  color: #2b5865;
  margin-bottom: 10px;
}
.wrap-listing-page .wrap-listing-infos .listing-description {
  margin-top: 15px;
}
.wrap-listing-page .wrap-listing-infos .listing-details {
  margin-top: 15px;
}

.wrap-comments span {
  font-size: 15px;
  font-weight: bold;
  color: #2b5865;
}
.wrap-comments .listing-comments {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.wrap-comments .listing-comments .comment-username {
  margin-top: 25px;
  color: #2b5865;
  font-weight: bold;
  font-size: 15px;
}
.wrap-comments .listing-comments .comment-date {
  color: #a0a0a0;
  font-size: 11px;
  margin-bottom: 13px;
}
.wrap-comments .listing-comments .comment-body {
  font-size: 13px;
}

.create-listing {
  font-size: 20px;
  color: #2b5865;
}

.wrap-categories {
  display: flex;
  justify-content: space-between;
  color: #2b5865;
}

.wrap-wl-filters {
  margin-bottom: 10px;
}
.wrap-wl-filters .wl-filters {
  display: flex;
  align-items: center;
}
.wrap-wl-filters .wl-filters .btn-primary {
  margin-top: 0px;
}

/*# sourceMappingURL=styles.css.map */
