@use 'base';
//container fluid//
.container-fluid {
	padding-left: 0;
}
// navbar //
header {
	background-color:base.$header-color;
	box-shadow: 1px 1px 2px #CCC;
	margin-bottom: 20px;
	.logo {
		display: flex;
		align-items: center;
		height: 100%;
		font-size: 40px;
		font-weight: bold;
		color: base.$text-color;
	}
	.wrap-nav {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		height: 100px;
		justify-content: space-between;

		.user-options {
			color: base.$text-color;
			a {color: base.$text-color;}
			margin-top: 10px;
		}
	}
	ul.nav a {
		background-color:base.$main-color1;
		margin-left: 10px;
		color: base.$text-color;
		border-top-right-radius: 8px;
	}
}
//page's title//
.page-title {
	display: flex;
	font-size: 26px;
	color: base.$text-color;
	margin-bottom: 10px;
}
//buttoms//
.btn-primary {
	margin-top: 10px;
	color: base.$text-color;
	border-color: #cef7e2;
	background-color: #cef7e2;
	&:hover {
		margin-top: 10px;
		color: base.$text-color;
		border-color: #cef7e2;
		background-color: #cef7e2
	}
	&:active {
		color: #cef7e2;
		background-color: base.$main-color1;
		border-color: base.$main-color1;
	}
	&:focus {
		color: #cef7e2;
		background-color: base.$main-color1;
		border-color: base.$main-color1;
	}
}
.btn-outline-primary {
	color: base.$text-color;
	border-color: #cef7e2;
	background-color: #cef7e2;
	&:hover {
		background-color: base.$text-color;
		border-color: base.$text-color;
	}
}
// bookmark button //
.fa-bookmark {
	color: base.$text-color;
	font-size: 20px;
	height: 100%;
}
// forms //
.bidding-form {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	font-size: 20px;
	color: base.$text-color;
	font-weight: bold;
	.btn-primary {
		margin-top: 0px;
		&:hover {
			margin-top: 0px;
		}
	}
	.input-group-text {
		color: #2b5865;
		background-color: base.$main-color1;
		border: 1px solid base.$main-color1;
	}
}
.form-control {
	border: 1px solid base.$main-color1;
	color: base.$text-color;
	margin-bottom: 10px;
	&:focus {
		color: base.$text-color;
		border-color: base.$main-color1;
		box-shadow: 0 0 0 0.2rem base.$header-color;
	}
}
// categories badge //
.badge {
	background-color: base.$main-color2!important;
	color: base.$main-color1;
	margin-bottom: 10px;
}

.row {
	margin-bottom: 20px;
}