@use 'base';
//listings box//
.wrap-listing {
	display: flex;
	border: 1px solid base.$main-color1;
	border-radius: 10px;
	margin-left: 1px; 
	margin-bottom: 20px; 
	padding:20px; 
	color: base.$text-color;
	border-radius: 10px;
	.wrap-item {
		display: flex;
		flex-direction: column;
		position: relative;
		.listing-name {
			display: flex;
			font-size: 20px;
			color: #2b5865;
			font-weight: 500;
			margin-bottom: 10px;
		}
		.wrap-listing-corner {
			position: absolute;
			display: flex;
			right: -20px;
			top: -31px;
			padding: 10px;
			font-size: 15px;
			.wrap-wl-action {
				min-width: 55px;
				text-align: center;
			}
		}
	}
}

.current-price {
	position: relative;
	color: #2b5865;
	font-weight: bold;
	border: 1px solid #f0ede8;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
	background-color: #f0ede8;
}
//index filters//
.wrap-filters {
	display: flex;
	flex-direction: column;
	font-size: 17px;
	margin-bottom: 10px;
	.checkbox-filter {
		display: flex;
		flex-direction: column;
		font-size: 17px;
		margin-bottom: 15px;
		span {
			margin-bottom: 10px;
			color: #2b5865;
		}
	}
}
//listing page//
.wrap-listing-page{
	display: flex;
	margin-left: 1px;
	margin-bottom: 20px;
	padding: 20px;
	color: #2b5865;
	.wrap-listing-infos {
		display: flex;
		flex-direction: column;
		margin-left: 20px;
		span {
			font-size: 15px;
			font-weight: bold;
			color: #2b5865;
			margin-bottom: 10px;
		}
		.listing-description {
			margin-top: 15px;
		}
		.listing-details {
			margin-top: 15px;
		}
	}
}
//listing comments//
.wrap-comments {
	span {
		font-size: 15px;
		font-weight: bold;
		color: #2b5865;
	}
	.listing-comments {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		.comment-username {
			margin-top: 25px;
			color: #2b5865;
			font-weight: bold;
			font-size: 15px;
		}
		.comment-date {
			color: #a0a0a0;
			font-size: 11px;
			margin-bottom: 13px;
		}
		.comment-body {
			font-size: 13px;
		}	
	}
}

.create-listing {
	font-size: 20px;
	color: #2b5865;
}

.wrap-categories {
	display: flex;
	justify-content: space-between;
	color: #2b5865;
}

.wrap-wl-filters {
	margin-bottom: 10px;
	.wl-filters {
		display: flex;
		align-items: center;
		.btn-primary {
			margin-top: 0px;
		}
	}
}