
$light-blue: #f1f6fa;


$lighter-color: #f0ede8;


$cyan: #8fbdc2;


$text-color: #4d5a53;


$shadow: #d9e4ec;


$btn-color: #2b6684bf;


$text-color2: #2b5865;


$background-color: #fff